{%extends "base.html"%}

{%block content%}
<div class="register-form">
    <h1>Register</h1>
    <form method="POST" action="{{url_for('auth.register')}}">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit" class="darkgreen">Register</button>
    </form>
    <p>Already registered? <a href="{{url_for('auth.login')}}">Login</a></p>
</div>
{%endblock%}