body {
  margin: 0;
  background: #191919;
  font-family: sans-serif;
}

.dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.grid button {
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: #d2d2d2;
  color: black;
  transition: background 0.3s;
}

.grid button:hover {
  background: #004e00;
  color: white;
}

.user-circle {
  position: fixed; /* right top positionі */
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50%; 
  display: flex;     /* bottom thing */
  align-items: center;
  justify-content: center;
  font-weight: bold;   /* girnyi text letter */
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  z-index: 999; 
}

