{%extends "base.html"%}


<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/notes_index.css') }}">
</head>

{%block content%}
<div class="add-form">
    <h1>Add new note</h1>
    <form method="POST" action="{{url_for('notes.add')}}">
        <label for="name">Title</label>
        <input type="text" name="name">
        <label for="inhalt">Inhalt</label>
        <textarea name="inhalt" rows="5"></textarea>
        <button type="submit" class="note-button">Add</button>
        <button href="{{url_for('notes.index')}}" class="note-button">Cancel</button>
    </form>
</div>
<!-- 
{% if current_user.is_authenticated %}
            <div class="user-circle">
                {{ current_user.username[0]|upper }}
            </div>
            {% endif %} -->
{%endblock%}