<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

<div class="table">
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        
        </div>




        <div class="header">
            <nav class="menu">
                <ul>
                    <li class="menu-item">Notes</li>
                    <li class="menu-item">Chat</li>
                    <li class="menu-item"></li>
                    <li class="menu-item"></li>
                    <li class="menu-item"></li>
                    <li class="menu-item"></li>
                    <li class="menu-item"></li>
                    <li class="menu-item"></li>
                    <li class="menu-item"></li>
                    <li class="menu-item"></li>
                    <li class="menu-item"></li>
                    <li class="menu-item"></li>
                </ul>
            </nav>
        </div>

            <!-- <div class="grid">
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div> -->

            {% if current_user.is_authenticated %}
            <div class="user-circle">
                {{ current_user.username[0]|upper }}
            </div>
            {% endif %}
        </div>
