<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

<div class="table">
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        
 </div>




        <div class="grid">
            <button onclick="location.href='notes/'">Notes</button>           <!-- it might be not ok, but i dont know how to fix it another way -->
            <button onclick="location.href='chat/'">MaffiChat</button>
            <button onclick="location.href='page2/'">MaffiChat</button>
            <button onclick="location.href='page2/'">MaffiChat</button>
            <button onclick="location.href='page2/'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page2.html'">MaffiChat</button>
            <button onclick="location.href='page16.html'">MaffiChat</button>
        </div>


            {% if current_user.is_authenticated %}
            <div class="user-circle">
                {{ current_user.username[0]|upper }}
            </div>
            {% endif %}
        
